<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
    /*Обнуление стилей*/
    * {
      padding: 0;
      margin: 0;
      border: 0;
    }

    *,
    *::before,
    *::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    :focus,
    :active {
      outline: none;
    }

    a:focus,
    a:active {
      outline: none;
    }

    nav,
    footer,
    header,
    aside {
      display: block;
    }

    html,
    body {
      height: 100%;
      width: 100%;
      font-size: 100%;
      line-height: 1;
      font-size: 13px;
      -ms-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    input,
    button,
    textarea {
      font-family: inherit;
    }

    input::-ms-clear {
      display: none;
    }

    button {
      cursor: pointer;
    }

    button::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    a,
    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    ul li {
      list-style: none;
    }

    img {
      vertical-align: top;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
      font-weight: 400;
    }

    /*------Стили-------*/
    .fixed-reload {
      position: fixed;
      display: block;
      top: 4%;
      left: 3%;
      color: rebeccapurple;
      font-size: calc(13px + 1vh);
    }
    header {
      background-color: #F0F8FF;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header__text {
      font-size: calc(13px + 2vh);
    }

    main {
      display: flex;
      height: 80vh;
      align-items: center;
      background-color: #DCDCDC;
      flex-direction: column;
    }

    .main__header {
      font-size: calc(13px + 2vh);
      margin: 20px auto;
    }

    .text {
      font-size: calc(13px + 1vh);

    }

    .text__span {
      color: red;
    }

    .display-field {
      margin-top: 10px;
      flex: 1;
      width: 80%;
      display: flex;
      overflow-y: auto;
    }

    .explorer {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 30%;
      background-color: #FFFFF0;
    }
    .explorer__header,
    .field-text__header {
      font-size: calc(13px + 1vh);
      margin: 8px;
      text-align: center;
    }
    .explorer__field {
      overflow-y: auto;
      flex: 1;
      padding: 0 5px;
    }
    .explorer__link {
      display: block;
      font-size: calc(13px + 1vh);
      margin-bottom: 3px;
      text-decoration: none;
      color: blue;
    }
    .explorer__link:hover {
      color: #FF4500
    }
    .field-text {
      height: 100%;
      width: 70%;
      background-color: #FDF5E6;
      display: flex;
      flex-direction: column;

    }
    .field-text__field {
      flex: 1;
      overflow-y: auto;
      padding: 0 5px;
      font-size: calc(11px + 0.5vh);
    }
    footer {
      display: flex;
      height: 10vh;
      justify-content: center;
      align-items: center;
      background-color: #C0C0C0;
    }
    .footer__text {
      font-size: calc(13px + 1vh);
    }
  </style>
  <title>Read text file</title>
  <script>
    function postToUrl(param) {
      
      method = "POST"; 
      path = '/';
  
      const form = document.createElement("form");
      form.setAttribute("method", method);
      form.setAttribute("action", path);
  
      const hiddenField = document.createElement("input");
      hiddenField.setAttribute("type", "hidden");
      hiddenField.setAttribute("name", 'name');
      hiddenField.setAttribute("value", param);
  
      form.appendChild(hiddenField);
      
      document.body.appendChild(form);
      form.submit();
    }
  </script>
</head>

<body>
  <div class="wrapper">
    <a href="/" class="fixed-reload">OБНОВИТЬ</a>
    <header>
      <h1 class="header__text">Читаем текстовый файл в нашей файловой системе!</h1>
    </header>
    <main class="container">
      <h2 class="main__header">Содержание папки: <span class="text__span">
          <%= folder %>
        </span></h2>
      <p class="text">Полный путь: <span class="text__span">
          <%= pathDir %>
        </span></p>
      <div class="display-field">
        <div class="explorer">
          <h4 class="explorer__header">Проводник</h4>
          <p class="explorer__field">
            <% for( let i=0; i < arrDir.length; i++) {%>
              <a class="explorer__link" href="#" onclick="postToUrl('<%=arrDir[i] %>')">
                <%=arrDir[i] %>
              </a>
              <% } %>
          </p>
        </div>
        <div class="field-text">
          <h4 class="field-text__header">Текст файла</h4>
          <pre class="field-text__field"><%= textFile %></pre>
        </div>
      </div>
    </main>
    <footer>
      <p class="footer__text" id="footer">
        <%= nowYear %> г.
      </p>
    </footer>
  </div>
</body>
</html>